html {
  color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @responsive {
    .text-shadow {
      text-shadow: 0px 0px 1px rgb(255 255 255);
    }
    .text-shadow-lg {
      text-shadow: 0px 0px 6px rgb(255 255 255);
    }
  }
}
